<template>

<div>
	<!-- Breadcrumbs -->
	<div class="breadcrumbs-container">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <nav class="woocommerce-breadcrumb">
	                    <a href="index.html">Home</a>
	                    <span class="separator">/</span> sign in
	                </nav>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Breadcrumbs End -->
	<!-- Page title -->
	<div class="entry-header">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <h1 class="entry-title">Sign In</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Page title end -->
	<!-- cart page content -->
	<div class="login-page-area">
	    <div class="container">
	        <div class="login-area">
	            <!-- New Customer Start -->
	            <div class="row">
	                <div class="col-md-6">
	                    <div class="well mb-sm-30">
	                        <div class="new-customer">
	                            <h3 class="custom-title">new customer</h3>
	                            <p class="mtb-10"><strong>Register</strong></p>
	                            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made</p>
	                            <router-link to="/register" class="customer-btn">continue</router-link>
	                        </div>
	                    </div>
	                </div>
	                <!-- New Customer End -->
	                <!-- Returning Customer Start -->
	                <div class="col-md-6">
	                    <div class="well">
	                        <div class="return-customer">
	                            <h3 class="mb-10 custom-title">returnng customer</h3>
	                            <p class="mb-10"><strong>I am a returning customer</strong></p>
	                            <form action="#">
	                                <div class="form-group">
	                                    <label>Email</label>
	                                    <input type="text" name="email" v-model="email" placeholder="Enter your email address..." id="input-email" class="form-control">
	                                </div>
	                                <div class="form-group">
	                                    <label>Password</label>
	                                    <input type="password" name="password" v-model="password" placeholder="Password" id="input-password" class="form-control">
	                                </div>
	                                <p class="lost-password"><a href="forgot-password.html">Forgot password?</a></p>
	                                <input type="submit" @click.prevent="login()" value="Login" class="return-customer-btn">
	                            </form>
	                        </div>
	                    </div>
	                </div>
	                <!-- Returning Customer End -->
	            </div>
	        </div>
	    </div>
	</div>
	<!-- cart page content end -->
</div>

</template>

<script>
	
	export default{

		data(){

			return{

				email:'',
				password:'',
				serverError: '',
      			successMessage: this.dataSuccessMessage,

			}

		},

		methods:{

			login() {
		      this.$store.dispatch('retrieveToken', {
		        email: this.email,
		        password: this.password,
		      })
		        .then(response => {
		        	console.log('main login page');
		        	this.$router.push({ name: 'checkout' });
		          // if( response.data.is_found == 1 )

		          // 	this.$router.push({ name: 'checkout' });
		          // else
		          // 	this.$router.push({ name: 'login' });
		        })
		        .catch(error => {
		          this.serverError = error.response.data
		          this.password = ''
		          this.successMessage = ''
		        })
		    }
		  }

		

	}

</script>