<template>
<div>

	<!-- Breadcrumbs -->
	<div class="breadcrumbs-container">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <nav class="woocommerce-breadcrumb">
	                    <a href="index.html">Home</a>
	                    <span class="separator">/</span> register
	                </nav>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Breadcrumbs End -->
	<!-- Page title -->
	<div class="entry-header">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <h1 class="entry-title">Register</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Page title end -->
	<!-- cart page content -->
	<div class="register-page-area">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <form class="form-register">
	                    <fieldset>
	                        <legend>Your Personal Details</legend>

	                        <div class="form-group d-md-flex align-items-md-center">
	                            <label class="control-label col-md-2" for="f-name"><span class="require">*</span>First Name</label>
	                            <div class="col-md-10">
	                                <input type="text" name="username" v-model="username" class="form-control" id="username" placeholder="User Name">
	                            </div>
	                        </div>
	                       
	                        <div class="form-group d-md-flex align-items-md-center">
	                            <label class="control-label col-md-2" for="email"><span class="require">*</span>Enter you email address here...</label>
	                            <div class="col-md-10">
	                                <input type="email" name="email" v-model="email" class="form-control" id="email" placeholder="Enter you email address here...">
	                            </div>
	                        </div>

	                        <div class="form-group d-md-flex align-items-md-center">
	                            <label class="control-label col-md-2" for="number"><span class="require">*</span>Telephone</label>
	                            <div class="col-md-10">
	                                <input type="text" name="phone" v-model="phone" class="form-control" id="number" placeholder="Telephone">
	                            </div>
	                        </div>

	                    </fieldset>
	                    <fieldset>

	                        <legend>Your Password</legend>
	                        <div class="form-group d-md-flex align-items-md-center">
	                            <label class="control-label col-md-2" for="pwd"><span class="require">*</span>Password:</label>
	                            <div class="col-md-10">
	                                <input type="password" name="password" v-model="password" class="form-control" id="pwd" placeholder="Password">
	                            </div>
	                        </div>

	                        <div class="form-group d-md-flex align-items-md-center">
	                            <label class="control-label col-md-2" for="pwd-confirm"><span class="require">*</span>Confirm Password</label>
	                            <div class="col-md-10">
	                                <input type="password" class="form-control" id="pwd-confirm" placeholder="Confirm password">
	                            </div>
	                        </div>

	                    </fieldset>
	                    <fieldset class="newsletter-input">
	                        <legend>Newsletter</legend>
	                        <div class="form-group d-md-flex align-items-md-center">
	                            <label class="col-md-2 control-label">Subscribe</label>
	                            <div class="col-md-10 radio-button">
	                                 <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
	                                 <label class="radio-inline"><input type="radio" name="optradio">No</label>
	                            </div>
	                        </div>
	                    </fieldset>
	                    <div class="terms">
	                        <div class="float-md-right">
	                            <span>I have read and agree to the <a href="#" class="agree"><b>Privacy Policy</b></a></span>
	                            <input type="checkbox" name="agree" value="1"> &nbsp;
	                            <input type="submit" @click.prevent="register()" value="Continue" class="return-customer-btn">
	                        </div>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- cart page content end -->
	
</div>
</template>

<script>
	
	export default{

		data(){

			return{

				username:'',
				email:'',
				phone:'',
				password:'',
				serverErrors: '',
      			successMessage: '',

			}
		},

		methods:{

			register(){

			 this.$store.dispatch('action_register', {

		        username: this.username,
		        email: this.email,
		        phone: this.phone,
		        password: this.password,

		      })
			 .then(response => {

	           this.successMessage = 'Registered Successfully!';
	           this.$router.push({ name: 'login', params: { dataSuccessMessage: this.successMessage } });	           

	         })
	         .catch(error => {

	           this.serverErrors = Object.values(error.response.data.errors);

	         })

			}
		
		}

	}

</script>