<template>

	<!-- shop-cart-menu -->
	<div class="shop-cart-menu pull-right">
	    <ul>
	       
	        <li><a href="#">
	            <span class="cart-icon">
	                <i class="ion-bag"></i><sup>{{ cartProducts.total_item }}</sup>
	            </span>
	            <span class="cart-text">
	                <span class="cart-text-title">My cart <br> <strong>৳ {{ cartProducts.cart_total }}</strong> </span>
	            </span>
	        </a>

	        	<ul v-if="cartProducts.total_item<=0">
	        		<div>
	        		<li>No items in your cart</li>
	        		</div>
	        	</ul>

	            <ul v-if="cartProducts.total_item>=1">
	            	<div>

	                <li v-for="product in cartProducts.cart_products">
	                    <!-- single-shop-cart-wrapper -->
	                    <div class="single-shop-cart-wrapper">
	                        <div class="shop-cart-img">
	                            <a href="#"><img src="users/images/product/1.jpg" alt="Image of Product"></a>
	                        </div>
	                        <div class="shop-cart-info">
	                            <h5><a href="cart.html">{{product.name}}</a></h5>
	                            <span class="price">৳ {{product.price}}</span>
	                            <span class="quantaty">Qty: {{product.qty}}</span>
	                            <span class="cart-remove"><a @click.prevent = "removeFromCart(product.rowId)"><i class="fa fa-trash"></i></a></span>
	                        </div>
	                    </div>
	                </li>
	               

	                <li>
	                    <!-- shop-cart-total -->
	                    <div class="shop-cart-total">
	                        <p>Subtotal: <span class="pull-right">৳ {{ cartProducts.cart_subtotal }}</span></p>
	                    </div>
	                </li>
	                <li>
	                    <!-- shop-cart-total -->
	                    <div class="shop-cart-total">
	                        <p>Tax: <span class="pull-right">৳ {{ cartProducts.cart_tax }}</span></p>
	                    </div>
	                </li>
	                <li>
	                    <!-- shop-cart-total -->
	                    <div class="shop-cart-total">
	                        <p>Total: <span class="pull-right">৳ {{ cartProducts.cart_total }}</span></p>
	                    </div>
	                </li>
	                <li>
	                    <div class="shop-cart-btn">
	                        <router-link to="/checkout" >Checkout</router-link>
	                        <router-link to="/cart" class="pull-right">View Cart</router-link>
	                    </div>
	                </li>
	            	</div>
	            </ul>


	        </li>

	        <div class="menu-my-account-container">
	            <a href="#">My Account <i class="ion-ios-arrow-down"></i></a>
	            <ul>
	                <li v-if="!is_loggedin"><router-link to="/login">Login</router-link></li>
	                <li v-if="!is_loggedin"><router-link to="/register">Register</router-link></li>
	                <li v-if="is_loggedin"><router-link to="/myaccount">My Account</router-link></li>
	                <li v-if="is_loggedin"><router-link to="/checkout">Checkout</router-link></li>
	                <li class="custom-cursor" v-if="is_loggedin" @click.prevent = "Logout_user()"><a>Logout</a></li>
	            </ul>
	        </div>
	        
	    </ul>
	</div>
	<!-- end of shop-cart-menu -->

</template>

<script>
		
	export default{

		data(){

			return {
				id:"",
				hostName:"",
			}

		},

		mounted(){
			this.hostName = location.host;
			this.$store.dispatch("action_cart_info");
		},

		computed:{

			is_loggedin(){
				return this.$store.getters.loggedIn;
			},
		
			cartProducts(){  
		      return this.$store.getters.get_cart_info;
		    },

		},


		methods:{

			Logout_user(){
				this.$store.dispatch("action_remove_token");
				console.log('logged out');
			},

	
			removeFromCart(id){

			  var id ={id:id};
			  console.log(id);
			  const self=this;
			  axios.post('/delete-from-cart', id)
			  .then(function (response) {

			  	  
			  	  self.$store.dispatch("action_cart_info");

			      
			      console.log(response.data);
			      console.log('success');
			     

			  })
			}

		},				

	}

</script>