<template>
<div>
	<!-- Breadcrumbs -->
	<div class="breadcrumbs-container">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <nav class="woocommerce-breadcrumb">
	                    <router-link to="/">Home</router-link>
	                    <span class="separator">/</span> Cart
	                </nav>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Breadcrumbs End -->
	<!-- Page title -->
	<div class="entry-header">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <h1 class="entry-title">Cart</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Page title end -->
	<!-- cart page content -->
	<div class="cart-page-area" style="margin-bottom:50px;">
	    <div class="container">
	        <div class="row">

	            <div class="col-md-12 col-sm-12 col-xs-12" v-if="cartProducts.total_item">
	               
                    <!-- Table Content Start -->
                    <div class="table-content table-responsive mb-50">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr v-for="product in cartProducts.cart_products">
                                    <td class="product-thumbnail">
                                        <a href="#" >
                                        	<img width="100" height="100" :src="`http://${hostName}/users/images/product/1.jpg`" alt="no-image"> 
                                        </a>
                                    </td>
                                    <td class="product-name"><a href="#">{{product.name}}</a></td>
                                    <td class="product-price"><span class="amount">৳ {{product.price}}</span></td>
                                    <td class="product-quantity">

                                    	<!-- <input type="number" :value="product.qty" :id="`product_${product.id}`" min="0"> -->
                                        <input class="quantity-modal mr-40" min="1" :value="product.qty" disabled>
                                        
                                    	<div class = "btn-group">
                                    		<button style="margin-left:15px" type = "button" class = "btn btn-primary btn-sm dropdown-toggle"
                                    		 data-toggle="dropdown" >Action <span class="caret"></span> </button>

                                    		 <ul class = "dropdown-menu custom-padding">
                                                <li class="custom-cursor"><a @click.prevent = "addToCart(product.rowId,product.id,product.name,product.price,product.qty+1)">Increase by one</a></li>
                                    		 	<li class="custom-cursor"><a @click.prevent = "addToCart(product.rowId,product.id,product.name,product.price,product.qty-1)">Decrease by one</a></li>
                                    		 	<li class="custom-cursor"><a @click.prevent = "removeFromCart(product.rowId)">Reduce all </a></li>
                                    		 </ul>
                                    	</div>

                                    </td>                                    
                                    <td class="product-subtotal">৳ {{product.subtotal}}</td>
                                    <td class="product-remove"> 
                                    	<a @click.prevent = "removeFromCart(product.rowId)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>

                               

                            </tbody>
                        </table>
                    </div>
                    <!-- Table Content Start -->
                    <div class="row">
                       <!-- Cart Button Start -->
                        <div class="col-md-8 col-sm-7 col-xs-12">
                            <div class="buttons-cart">
                                <input type="submit" value="Update Cart">
                                <router-link to="/shop">Continue Shopping</router-link>
                            </div>
                        </div>
                        <!-- Cart Button Start -->
                        <!-- Cart Totals Start -->
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            <div class="cart_totals">
                                <h2>Cart Totals</h2>
                                <br>
                                <table>
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Subtotal</th>
                                            <td><span class="amount">৳ {{ cartProducts.cart_subtotal }}</span></td>
                                        </tr>

                                        <tr class="cart-subtotal">
                                            <th>tax</th>
                                            <td><span class="amount">৳ {{ cartProducts.cart_tax }}</span></td>
                                        </tr>

                                        <tr class="order-total">
                                            <th>Total</th>
                                            <td>
                                                <strong><span class="amount">৳ {{ cartProducts.cart_total }}</span></strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="wc-proceed-to-checkout">
                                    <router-link to="/checkout">Proceed to Checkout</router-link>
                                </div>
                            </div>
                        </div>
                        <!-- Cart Totals End -->
                    </div>
                    <!-- Row End -->
	               
	            </div>

	            <div class="col-md-12 col-sm-12 col-xs-12" v-else>
	               No item in cart
	            </div>


	        </div>
	    </div>
	</div>
	<!-- cart page content end -->
</div>
</template>


<script>

export default{

	data(){

		return {
			id:"",
			hostName:"",           
        
		}

	},

	mounted(){
		this.hostName = location.host;
		this.$store.dispatch("action_cart_info");
        //this.$store.dispatch("setKeyword","-1");
	},

	computed:{
	
		cartProducts(){  
	      return this.$store.getters.get_cart_info;
	    },

	},


	methods:{

        addToCart(main_id,id,name,price,qty){

          var info = {main_id:main_id,name: name,id:id,price:price,quantity:qty};
          console.log(info);

          let self=this;
          
          axios.post('/add-to-cart-qty', info)
          .then((response) => {

              self.$store.dispatch("action_cart_info");
              //self.$router.pop('/cart');
              // if(response){
              //   self.$router.push('/cart');
              // }
              console.log(response.data);
              console.log('success');
          })

        },

		removeFromCart(id){

		  var id ={id:id};
		  console.log(id);
		  const self=this;
		  axios.post('/delete-from-cart', id)
		  .then(function (response) {

		  	  
		  	  self.$store.dispatch("action_cart_info");

		      
		      console.log(response.data);
		      console.log('success');
		     

		  })
		}

	},

	
	
	

}

</script>

<style>
.custom-image:{
    height:20px; 
    width:20px;
}
</style>