<template>

  <div>
      <!-- Slider area -->
      <div class="slider-area">
          <div class="container">
              <div class="row">

                  <div class="col-xl-3 col-lg-3 hidden-md hidden-sm pull-left category-wrapper">
                    <div class="categori-menu">
                    <span class="categorie-title">Categories</span>
                    <nav>
                        <ul class="categori-menu-list menu-hidden"  v-if="Categories">                                      
                            <li v-for="category in Categories">
                              <router-link :to="`/categories/${category.id}`">
                                  {{ category.name }}<i class="fa fa-angle-right" aria-hidden="true"></i>
                              </router-link>
                            </li>
                        </ul>

                         <ul class="categori-menu-list menu-hidden"   v-else>   
                            <li>
                              No Category
                            </li>
                        </ul>
                    </nav>
                        
                    </div>
                  </div>
                  <div class="slider col-xl-9">
                  
                      <!-- slider-area start -->
                      <div class="slider-area-inner">
                          <!-- slider start -->
                          <div class="slider-inner">
                              <div id="mainSlider" class="nivoSlider nevo-slider">
                                  <img src="users/images/slider/3.jpg" alt="main slider" title="#htmlcaption1"/>
                                  <img src="users/images/slider/4.jpg" alt="main slider" title="#htmlcaption2"/>
                              </div>  
                              <div id="htmlcaption1" class="nivo-html-caption slider-caption">
                                  <div class="slider-progress"></div>
                                  <div class="col-md-9">
                                      <div class="slider-content slider-content-1 slider-animated-1">
                                          <h1 class="hone">SMARTER</h1>
                                          <h1 class="htwo">INNOVATIVE</h1>
                                          <h1 class="hthree">BRIGHTER</h1>
                                          <h3>40” Smart Package</h3> 
                                          <div class="button-1 hover-btn-2">
                                              <router-link to = "/shop">SHOP NOW</router-link>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div id="htmlcaption2" class="nivo-html-caption slider-caption">
                                  <div class="slider-progress"></div>
                                  <div class="col-md-9">
                                      <div class="slider-content slider-content-2 slider-animated-2">
                                          <h1 class="hone">AWESOME</h1>
                                          <h1 class="htwo">EXCITING</h1>
                                          <h3 class="h3one">LATEST</h3><br>
                                          <div class="button-1 hover-btn-1">
                                              <router-link to = "/shop">SHOP NOW</router-link>
                                          </div>
                                      </div>
                                  </div>                  
                              </div>
                          </div>
                          <!-- slider end -->
                      </div>
                      <!-- slider-area end -->
                  </div>
                  <div class="slider-banner-area col-sm-12">
                      <div class="slider-banner">
                          <div class="slider-single-banner">
                              <a href="shop.html">
                                  <img src="users/images/banner/banner1.jpg" alt="Banner">
                              </a>
                          </div>
                      </div>
                      <div class="slider-banner">
                          <div class="slider-single-banner">
                              <a href="shop.html">
                                  <img src="users/images/banner/banner2.jpg" alt="Banner">
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="slider-area">
          <div class="container">
              <div class="row">
              </div>
          </div>
      </div>

       <div class="home-fullwidth-banner-area">
          <div class="container">
              <div class="row">
              </div>
          </div>
      </div>
      <!-- Slider area end -->

       <!-- Policy area -->
      <div class="policy-area">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="policy-area-inner">
                          <div class="single-policy-area">
                              <div class="single-policy">
                                  <div class="icon"><i class="icon ion-android-sync"></i></div>
                                  <h3>Free Return</h3>
                                  <p>30 days money back guarantee!</p>
                              </div>
                          </div>
                          <div class="single-policy-area">
                              <div class="single-policy">
                                  <div class="icon"><i class="icon ion-paper-airplane"></i></div>
                                  <h3>Free Shipping</h3>
                                  <p>Free shipping on all order</p>
                              </div>
                          </div>
                          <div class="single-policy-area">
                              <div class="single-policy">
                                  <div class="icon"><i class="icon ion-help-buoy"></i></div>
                                  <h3>Support 24/7</h3>
                                  <p>We support online 24 hrs a day</p>
                              </div>
                          </div>
                          <div class="single-policy-area">
                              <div class="single-policy">
                                  <div class="icon"><i class="icon ion-card"></i></div>
                                  <h3>Receive Gift Card</h3>
                                  <p>Recieve gift all over oder $50</p>
                              </div>
                          </div>
                          <div class="single-policy-area">
                              <div class="single-policy">
                                  <div class="icon"><i class="icon ion-ios-locked"></i></div>
                                  <h3>Secure Payment</h3>
                                  <p>We Value Your Security</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>   
      <!-- Policy area end -->

      

      <!-- Best sellers -->
      <div class="product-area">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="section-title">
                          <h3>Best Sellers</h3>
                      </div>
                  </div>
              </div>
              <div class="product-area-inner">
                  <div class="row">

                      <div class="product-carousel-active-2 owl-carousel">

                          <div  class="col-sm-12 col-md-12" v-for="product in best_sell_products">
                              <!-- single product -->
                              <div class="single-product-area">
                                  <div class="product-wrapper gridview">
                                      <div class="list-col4">
                                          <div class="product-image">
                                              <a href="#">
                                                  <img src="users/images/product/1.jpg" alt="">
                                              </a>
                                              <div class="quickviewbtn">
                                                  <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"
                                                  @click.prevent = "modaldata(product.name,product.price,product.description,product.id)">
                                                  <i class="ion-eye"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="list-col8">
                                          <div class="product-info">
                                              <h2><a href="single-product.html"> {{product.name}} </a></h2>
                                              <span class="price">
                                                  ৳ {{product.price}}
                                              </span>
                                          </div>
                                          <div class="product-hidden">
                                              <div class="add-to-cart">
                                                  <a  @click.prevent = "addToCart(product.id,product.name,product.price)">Add to cart</a>
                                              </div>
                                              <div class="star-actions">
                                                  <div class="product-rattings">
                                                      <span><i class="fa fa-star"></i></span>
                                                      <span><i class="fa fa-star"></i></span>
                                                      <span><i class="fa fa-star"></i></span>
                                                      <span><i class="fa fa-star-half-o"></i></span>
                                                      <span><i class="fa fa-star-o"></i></span>
                                                  </div>
                                                  <ul class="actions">
                                                      <li><a href="#"><i class="ion-android-favorite-outline"></i></a></li>
                                                      <li><a href="#"><i class="ion-ios-shuffle-strong"></i></a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- single product end -->
                          </div>

                         
                          
                      </div>

                      

                  </div>
              </div>
          </div>
      </div>
      <!-- Best sellers end -->

      

      <!-- New Arrivals -->
      <div class="product-area">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="section-title">
                          <h3>New Arrivals</h3>
                      </div>
                  </div>
              </div>
              <div class="product-area-inner">
                  <div class="row">

                    <div class="col-sm-12" v-if="new_arrival_products.length<=0">

                             No New Arrival

                    </div>

                    <div class="product-carousel-active-3 owl-carousel" v-if="new_arrival_products.length>=0">                        

                        <div class="col-sm-12" v-for="product in new_arrival_products">
                            <!-- single product -->
                            <div class="single-product-area">
                                <div class="product-wrapper gridview">
                                    <div class="list-col4">
                                        <div class="product-image">
                                            <a href="#">
                                                <img src="users/images/product/3.jpg" alt="">
                                            </a>
                                            <div class="quickviewbtn">
                                                <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"
                                                @click.prevent = "modaldata(product.name,product.price,product.description,product.id)">
                                                <i class="ion-eye"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-col8">
                                        <div class="product-info">
                                            <h2><a href="single-product.html">{{ product.name }}</a></h2>
                                            <span class="price">
                                                ৳ {{ product.price }}
                                            </span>
                                        </div>
                                        <div class="product-hidden">
                                            <div class="add-to-cart">
                                                <a @click.prevent = "addToCart(product.id,product.name,product.price)">Add to cart</a>
                                            </div>
                                            <div class="star-actions">
                                                <div class="product-rattings">
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star-half-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <ul class="actions">
                                                    <li><a href="#"><i class="ion-android-favorite-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-ios-shuffle-strong"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single product end -->
                            <!-- single product -->
                            <!-- <div class="single-product-area">
                                <div class="product-wrapper gridview">
                                    <div class="list-col4">
                                        <div class="product-image">
                                            <a href="#">
                                                <img src="users/images/product/4.jpg" alt="">
                                            </a>
                                            <div class="quickviewbtn">
                                                <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-col8">
                                        <div class="product-info">
                                            <h2><a href="single-product.html">Tincidunt malesuada</a></h2>
                                            <span class="price">
                                                <del>$ 80.00</del> $ 50.00
                                            </span>
                                        </div>
                                        <div class="product-hidden">
                                            <div class="add-to-cart">
                                                <a href="cart.html">Add to cart</a>
                                            </div>
                                            <div class="star-actions">
                                                <div class="product-rattings">
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star-half-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <ul class="actions">
                                                    <li><a href="#"><i class="ion-android-favorite-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-ios-shuffle-strong"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- single product end -->
                        </div>

                    </div>

                  </div>
              </div>
          </div>
      </div>
      <!-- New Arrivals end -->

      <!-- home banner four -->
      <div class="home-banner-four">
          <div class="container">
              <div class="row">
                  <div class="col-sm-5 banner-four-one">
                      <a href="shop.html"><img src="users/images/banner/ehome1-banner4-1.jpg" alt=""></a>
                  </div>
                  <div class="col-sm-7 banner-four-two">
                      <div class="top-banner">
                          <a href="shop.html"><img src="users/images/banner/home1-banner4-2.jpg" alt=""></a>
                      </div>
                      <div class="bottom-banner">
                          <div class="row">
                              <div class="col-sm-6">
                                  <a href="shop.html"><img src="users/images/banner/home1-banner4-3.jpg" alt=""></a>
                              </div>
                              <div class="col-sm-6">
                                  <a href="shop.html"><img src="users/images/banner/home1-banner4-4.jpg" alt=""></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- home banner four end -->

      <!-- product carosel area -->
      <div class="product-carosel-area">
          <div class="container">
              <div class="row" v-if="last_four_categories">

                  <!-- Product column --> 
                  <div class="col-md-6 col-xl-3" v-for="category in last_four_categories">

                      <div class="section-title">
                          <h3>{{ category.name }}</h3>
                      </div>
                      <div class="mini-product carosel-next-prive  owl-carousel">
                          <div v-for="(product,index) in category.products">

                            <div  class="mini-product-listview">

                              <!-- single product -->
                              <div class="single-product-area">
                                  <div class="product-wrapper listview">
                                      <div class="list-col4">
                                          <div class="product-image">
                                              <a href="#">
                                                  <img src="users/images/product/mini/18.jpg" alt="">
                                              </a>
                                              <div class="quickviewbtn">
                                                  <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"
                                                  @click.prevent = "modaldata(product.name,product.price,product.description,product.id)">
                                                  <i class="ion-eye"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="list-col8">
                                          <div class="product-info">
                                              <h2><a href="single-product.html">{{product.name}}</a></h2>
                                              <span class="price">
                                                  $ {{ product.price }}
                                              </span>
                                              <div class="product-rattings">
                                                  <span><i class="fa fa-star"></i></span>
                                                  <span><i class="fa fa-star"></i></span>
                                                  <span><i class="fa fa-star"></i></span>
                                                  <span><i class="fa fa-star-half-o"></i></span>
                                                  <span><i class="fa fa-star-o"></i></span>
                                              </div>
                                          </div>
                                          <div class="add-to-cart">
                                              <a @click.prevent = "addToCart(product.id,product.name,product.price)">Add to cart</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- single product end -->

                              <!-- single product -->
                              <div class="single-product-area" v-if="category.products[index+1]">
                                  <div class="product-wrapper listview">
                                      <div class="list-col4">
                                          <div class="product-image">
                                              <a href="#">
                                                  <img src="users/images/product/mini/18.jpg" alt="">
                                              </a>
                                              <div class="quickviewbtn">
                                                  <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"
                                                  @click.prevent = "modaldata(product.name,product.price,product.description,product.id)">
                                                  <i class="ion-eye"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="list-col8">
                                          <div class="product-info">
                                              <h2><a href="single-product.html">{{category.products[index+1].name}}</a></h2>
                                              <span class="price">
                                                  $ {{category.products[index+1].price}}
                                              </span>
                                              <div class="product-rattings">
                                                  <span><i class="fa fa-star"></i></span>
                                                  <span><i class="fa fa-star"></i></span>
                                                  <span><i class="fa fa-star"></i></span>
                                                  <span><i class="fa fa-star-half-o"></i></span>
                                                  <span><i class="fa fa-star-o"></i></span>
                                              </div>
                                          </div>
                                          <div class="add-to-cart">
                                              <a @click.prevent = "addToCart(category.products[index+1].id,category.products[index+1].name,category.products[index+1].price)">Add to cart</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- single product end -->

                              </div>

                          </div>


                         
                          
                      </div>    
                  </div>
                  <!-- Product column end -->
                 
              </div>
          </div>
      </div>
      <!-- product carosel area end -->

      <!-- Brand zone area -->
      <div class="brand-zone-area" style="margin-top:50px;">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 col-md-12 col-xl-9 hometab">
                      <div class="section-title">
                          <h3>Brand Zone</h3>
                      </div>
                      <div class="brand-zone-tab-area">
                          <div class="brand-tab-menu">
                              <div class="nav">
                                  <ul>
                                      <li><a class="active" data-toggle="tab" href="#brand_zone_1"><span>Gamepad</span></a></li>
                                      <li><a data-toggle="tab" href="#brand_zone_2"><span>TVS</span></a></li>
                                      <li><a data-toggle="tab" href="#brand_zone_3"><span>Cell Phones</span></a></li>
                                      <li><a data-toggle="tab" href="#brand_zone_4"><span>Cameras</span></a></li>
                                      <li><a data-toggle="tab" href="#brand_zone_5"><span>Printers</span></a></li>
                                      <li><a data-toggle="tab" href="#brand_zone_6"><span>Audio & video</span></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="brand-tab-content">
                              <div class="tab-content">
                                  <div class="tab-pane fade show active" id="brand_zone_1">
                                      <a href="#"><img src="users/images/banner/home1-tab-img.jpg" alt=""></a>
                                  </div>
                                  <div class="tab-pane fade" id="brand_zone_2">
                                      <a href="#"><img src="users/images/banner/home1-tab-img.jpg" alt=""></a>
                                  </div>
                                  <div class="tab-pane fade" id="brand_zone_3">
                                      <a href="#"><img src="users/images/banner/home1-tab-img.jpg" alt=""></a>
                                  </div>
                                  <div class="tab-pane fade" id="brand_zone_4">
                                      <a href="#"><img src="users/images/banner/home1-tab-img.jpg" alt=""></a>
                                  </div>
                                  <div class="tab-pane fade" id="brand_zone_5">
                                      <a href="#"><img src="users/images/banner/home1-tab-img.jpg" alt=""></a>
                                  </div>
                                  <div class="tab-pane fade" id="brand_zone_6">
                                      <a href="#"><img src="users/images/banner/home1-tab-img.jpg" alt=""></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-xl-3 hometestimonial">
                      <div class="section-title">
                          <h3>Testimonials</h3>
                      </div>
                      <div class="testimonial-sidebar carosel-next-prive owl-carousel">
                          <!-- Testimonial area -->
                          <div class="testimonial-area">
                              <img src="users/images/testimonials/testimonial3-120x120.jpg" alt="testimonial">
                              <blockquote class="testimonials-text"><p>RoadThemes support and response has been amazing, helping me with several issues I came across and got them solved almost the same day. A pleasure to work with them!</p>
                              </blockquote>
                              <span>Katherine Sullivan</span>
                          </div>
                          <!-- Testimonial area end -->
                          <!-- Testimonial area -->
                          <div class="testimonial-area">
                              <img src="users/images/testimonials/testimonial5-120x120.jpg" alt="testimonial">
                              <blockquote class="testimonials-text"><p>RoadThemes support and response has been amazing, helping me with several issues I came across and got them solved almost the same day. A pleasure to work with them!</p>
                              </blockquote>
                              <span>Jenifer Brown</span>
                          </div>
                          <!-- Testimonial area end -->
                          <!-- Testimonial area -->
                          <div class="testimonial-area">
                              <img src="users/images/testimonials/testimonial6-120x120.jpg" alt="testimonial">
                              <blockquote class="testimonials-text"><p>RoadThemes support and response has been amazing, helping me with several issues I came across and got them solved almost the same day. A pleasure to work with them!</p>
                              </blockquote>
                              <span>Kathy Young</span>
                          </div>
                          <!-- Testimonial area end -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Brand zone area end -->
     

      <!-- QUICKVIEW PRODUCT START -->
      <div id="quickview-wrapper">
          <!-- Modal -->
          <div class="modal fade" id="product_modal" tabindex="-1">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-close-btn">
                          <button class="close" data-dismiss="modal">
                              <i class="fa fa-times"></i>
                          </button>
                      </div>
                      <div class="modal-body">
                         <!-- Single product area -->
                         <div class="single-product-area">
                             <div class="container-fullwidth">
                                 <div class="single-product-wrapper">
                                     <div class="row">
                                         <div class="col-xs-12 col-md-7 col-lg-7">
                                              <div class="product-details-img-content">
                                                  <div class="product-details-tab mr-40">
                                                      <div class="product-details-large tab-content">
                                                          <div class="tab-pane active" id="pro-details1">
                                                              <div class="product-pop">
                                                                  <a href="#">
                                                                      <img src="users/images/product/single/product4.jpg" alt="">
                                                                  </a>
                                                              </div>
                                                          </div>
                                                          <div class="tab-pane" id="pro-details2">
                                                              <div class="product-pop">
                                                                  <a href="#">
                                                                      <img src="users/images/product/single/product5.jpg" alt="">
                                                                  </a>
                                                              </div>
                                                          </div>
                                                          <div class="tab-pane" id="pro-details3">
                                                              <div class="product-pop">
                                                                  <a href="#">
                                                                      <img src="users/images/product/single/product6.jpg" alt="">
                                                                  </a>
                                                              </div>
                                                          </div>
                                                          <div class="tab-pane" id="pro-details4">
                                                              <div class="product-pop">
                                                                  <a href="#">
                                                                      <img src="users/images/product/single/product7.jpg" alt="">
                                                                  </a>
                                                              </div>
                                                          </div>
                                                          <div class="tab-pane" id="pro-details5">
                                                              <div class="product-pop">
                                                                  <a href="#">
                                                                      <img src="users/images/product/single/product8.jpg" alt="">
                                                                  </a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="product-details-small nav product-dec-slider-qui owl-carousel">
                                                          <a class="active" href="#pro-details1">
                                                              <img src="users/images/product/thumbnails/product4.jpg" alt="">
                                                          </a>
                                                          <a href="#pro-details2">
                                                              <img src="users/images/product/thumbnails/product5.jpg" alt="">
                                                          </a>
                                                          <a href="#pro-details3">
                                                              <img src="users/images/product/thumbnails/product6.jpg" alt="">
                                                          </a>
                                                          <a href="#pro-details4">
                                                              <img src="users/images/product/thumbnails/product7.jpg" alt="">
                                                          </a>
                                                          <a href="#pro-details5">
                                                              <img src="users/images/product/thumbnails/product8.jpg" alt="">
                                                          </a>
                                                          <a class="active" href="#pro-details1">
                                                              <img src="users/images/product/thumbnails/product4.jpg" alt="">
                                                          </a>
                                                          <a href="#pro-details2">
                                                              <img src="users/images/product/thumbnails/product5.jpg" alt="">
                                                          </a>
                                                          <a href="#pro-details3">
                                                              <img src="users/images/product/thumbnails/product6.jpg" alt="">
                                                          </a>
                                                          <a href="#pro-details4">
                                                              <img src="users/images/product/thumbnails/product7.jpg" alt="">
                                                          </a>
                                                          <a href="#pro-details5">
                                                              <img src="users/images/product/thumbnails/product8.jpg" alt="">
                                                          </a>
                                                      </div>
                                                  </div>
                                              </div>
                                         </div>
                                         <div class="col-xs-12 col-md-5 col-lg-5">
                                             <div class="single-product-info">
                                                 <h1 id="single-product-name">product name</h1>
                                                 <div class="product-rattings">
                                                      <span><i class="fa fa-star"></i></span>
                                                      <span><i class="fa fa-star"></i></span>
                                                      <span><i class="fa fa-star"></i></span>
                                                      <span><i class="fa fa-star-half-o"></i></span>
                                                      <span><i class="fa fa-star-o"></i></span>
                                                  </div>
                                                  <span class="price" id="single-product-price">
                                                       product price
                                                  </span>
                                                  <p id="single-product-description">product description</p>
                                                  <div class="box-quantity d-flex">
                                                      <form action="#">
                                                          <input class="quantity-modal mr-40" min="1" value="1" name="myId" id="myId" ref="myId`">
<!--                                                           <input class="quantity mr-40" min="1" value="1" type="number">
 -->                                                      </form>
                                                      <a class="add-cart" @click.prevent="modal_add_to_cart()">add to cart</a>
                                                  </div>
                                                                                                                                             
                                            </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                          <!-- Single product area end -->
                      </div>
                  </div><!-- .modal-content -->
              </div><!-- .modal-dialog -->
          </div><!-- END Modal -->
      </div>
      <!-- QUICKVIEW PRODUCT END -->
     
  </div>
 
</template>



<script>

import Vue from 'vue';

export default{

data(){

   return{

    best_sell_products:[],
    new_arrival_products:[],
    last_four_categories:[],
    modal_id:"",
    modal_name:"",
    modal_price:"",
    modal_description:"",
  
  };

},
  

methods: {

  modal_add_to_cart(){

      
      //get input quantity
      var modal_value = $('.quantity-modal').val();
      
      console.log(modal_value);

      var info = {name: this.modal_name,id:this.modal_id,price:this.modal_price,quantity:modal_value};
      console.log(info);

      let self=this;
      
      axios.post('/add-to-cart-qty-modal', info)
      .then(function (response) {
          self.$router.push('/cart');
          console.log(response.data);
          console.log('success');

          $('#product_modal').modal('hide');

          //make input quantity 1 again
          $('.quantity-modal').val(1);

      })

  },

  // modal_add_to_cart(){
  //     //console.log('clicked');

  //     //console.log(this.modal_name);

  //     var info = {name: this.modal_name,id:this.modal_id,price:this.modal_price};
  //     console.log(info);

  //     let self=this;
      
  //     axios.post('/add-to-cart', info)
  //     .then(function (response) {
  //         self.$router.push('/cart');
  //         console.log(response.data);
  //         console.log('success');

  //         $('#product_modal').modal('hide');

  //     })

  // },

  modaldata(name,price,description,id){

      this.modal_name        = name;
      this.modal_price       = price;
      this.modal_description = description;
      this.modal_id          = id;

      //$(this).find(".single-product-info #single-product-name").val(name);
      $('#product_modal').on('show.bs.modal', function (event) {
        
            //var button    = $(event.relatedTarget) 
            //var test      = button.data('testname')
                         
            var modal = $(this)
            modal.find('#single-product-name').text(name);
            modal.find('#single-product-price').text('৳ '+price);
            modal.find('#single-product-description').text(description);
            //modal.find('#single-product-name').text(name);
      });
           

      console.log(name+' '+price+' '+description);
  },

  addToCart(id,name,price){

  var info = {name: name,id:id,price:price};
  console.log(info);

  let self=this;
  
  axios.post('/add-to-cart', info)
  .then(function (response) {
      self.$router.push('/cart');
      console.log(response.data);
      console.log('success');
     

  })

  },

    all_category_products(){

        if( this.$route.params.id != null ){
            this.$store.dispatch("action_all_category_products",this.$route.params.id);
        }
    },

},

 watch:{

    $route(to,from){
        this.all_category_products();
    }

  },

  computed:{

    
    Categories(){
   
      return this.$store.getters.get_all_categories;

    },

  },


  mounted(){

   
    //this.$store.dispatch("setKeyword","-1");

    var vm = this;
    axios.get('/user-best-new-product').then((response)=>{

    this.best_sell_products   = response.data.best_seller;
    this.new_arrival_products = response.data.new_arrival;
    this.last_four_categories = response.data.four_categories;

    // vm.installOwlCarousel();
    console.log(this.last_four_categories);

    Vue.nextTick(function(){

      $('.product-carousel-active-2').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 5,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 3
                 },
                 992: {
                     items: 3
                 },
                 1000: {
                     items: 4
                 },
                 1366: {
                     items: 5
                 }
             }
         });

       $('.product-carousel-active-3').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 6,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 3
                 },
                 950: {
                     items: 3
                 },
                 1000: {
                     items: 4
                 },
                 1366: {
                     items: 5
                 },
                 1600: {
                     items: 5
                 }
             }
         });

       $('.mini-product').owlCarousel({
           loop: true,
           nav: true,
           navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
           autoplay: false,
           autoplayTimeout: 5000,
           animateOut: 'fadeOut',
           animateIn: 'fadeIn',
           item: 1,
           responsiveClass:true,
           responsive:{
               0:{
                   items:1
               },
               600:{
                   items:1
               },
               992:{
                   items:1
               },
               1000:{
                   items:1
               },
               1170:{
                   items:1
               }
           }
       });

    }.bind(vm));

     }).catch((err)=>{
      if(err) 
        console.log(err);
     });

     

    


    //make a action to fetch when page is called all categories
    this.$store.dispatch("action_all_categories");

    //this.$store.dispatch("action_home_best_new_products");

     /* Theme JS */

     
         "use strict";

       /* ----------------------------------------------
             jQuery MeanMenu
         ---------------------------------------------- */
         $('#mobile-menu-active').meanmenu({
             meanScreenWidth: "991",
             meanMenuContainer: ".mobile-menu-area .mobile-menu",
         });

         /* ----------------------------------------------
             nice-select-menu
         ---------------------------------------------- */
         $('.nice-select-menu').niceSelect();
      /*----------------------------
         4.1 Vertical-Menu Activation
         -----------------------------*/
         $('.categorie-title').on('click', function () {
             $('.categori-menu-list').slideToggle();
         });

         /* ----------------------------------------------
             gallery-post active
         ---------------------------------------------- */
         $('.gallery-post').owlCarousel({
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             loop: true,
             dots: false,
             nav: false,
             navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
             item: 1,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 1
                 },
                 1000: {
                     items: 1
                 }
             }
         })

         
         /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         $('.product-carousel-active').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 2,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 1
                 },
                 992: {
                     items: 1
                 },
                 1170: {
                     items: 1
                 },
                 1366: {
                     items: 2
                 }
             }
         })
         /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         $('.product-carousel-active-home-four').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 1
                 },
                 992: {
                     items: 1
                 },
                 1000: {
                     items: 1
                 }
             }
         })
         
         /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         $('.home-three-product-carousel').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 1
                 },
                 992: {
                     items: 1
                 },
                 1000: {
                     items: 3
                 },
                 1600: {
                     items: 1
                 }
             }
         })

         /* ----------------------------------------------
             best seller carousel active
         ---------------------------------------------- */
         $('.bestseller-sidebar').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:1
                 },
                 768:{
                     items:2
                 },
                 992:{
                     items:3
                 },
                 1000:{
                     items:3
                 },
                 1170:{
                     items:3
                 },
                 1366:{
                     items:1
                 }
             }
         });



         
         /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         // $('.product-carousel-active-2').owlCarousel({
         //     loop: true,
         //     nav: true,
         //     navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
         //     autoplay: false,
         //     autoplayTimeout: 5000,
         //     animateOut: 'fadeOut',
         //     animateIn: 'fadeIn',
         //     item: 5,
         //     responsiveClass:true,
         //     responsive: {
         //         0: {
         //             items: 1
         //         },
         //         768: {
         //             items: 3
         //         },
         //         992: {
         //             items: 3
         //         },
         //         1000: {
         //             items: 4
         //         },
         //         1366: {
         //             items: 5
         //         }
         //     }
         // })
         /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         $('.product-carousel-active-h2').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 5,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 3
                 },
                 992: {
                     items: 3
                 },
                 1000: {
                     items: 4
                 },
                 1366: {
                     items: 4
                 },
                 1600: {
                     items: 5
                 }
             }
         })
         /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         // $('.product-carousel-active-3').owlCarousel({
         //     loop: true,
         //     nav: true,
         //     navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
         //     autoplay: false,
         //     autoplayTimeout: 5000,
         //     animateOut: 'fadeOut',
         //     animateIn: 'fadeIn',
         //     item: 6,
         //     responsive: {
         //         0: {
         //             items: 1
         //         },
         //         768: {
         //             items: 3
         //         },
         //         950: {
         //             items: 3
         //         },
         //         1000: {
         //             items: 4
         //         },
         //         1366: {
         //             items: 5
         //         },
         //         1600: {
         //             items: 5
         //         }
         //     }
         // })

             /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         $('.product-carousel-active-4').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsiveClass:true,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:2
                 },
                 1000:{
                     items:2
                 }
             }
         })
     
         /* ----------------------------------------------
             best seller carousel active
         ---------------------------------------------- */
         $('.newarival-sidebar').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsiveClass:true,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:2
                 },
                 992:{
                     items:3
                 },
                 1000:{
                     items:3
                 },
                 1170:{
                     items:3
                 },
                 1366:{
                     items:1
                 }
             }
         })
         /* ----------------------------------------------
             testimonial carousel active
         ---------------------------------------------- */
         $('.testimonial-sidebar').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsiveClass:true,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:1
                 },
                 1000:{
                     items:1
                 }
             }
         })
         /* ----------------------------------------------
             mini product carousel active
         ---------------------------------------------- */
         // $('.mini-product').owlCarousel({
         //     loop: true,
         //     nav: true,
         //     navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
         //     autoplay: false,
         //     autoplayTimeout: 5000,
         //     animateOut: 'fadeOut',
         //     animateIn: 'fadeIn',
         //     item: 1,
         //     responsiveClass:true,
         //     responsive:{
         //         0:{
         //             items:1
         //         },
         //         600:{
         //             items:1
         //         },
         //         992:{
         //             items:1
         //         },
         //         1000:{
         //             items:1
         //         },
         //         1170:{
         //             items:1
         //         }
         //     }
         // })
         /* ----------------------------------------------
             mini product carousel active
         ---------------------------------------------- */
         $('.mini-product-2').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsiveClass:true,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:1
                 },
                 768:{
                     items:2
                 },
                 992:{
                     items:3
                 },
                 1000:{
                     items:3
                 },
                 1170:{
                     items:3
                 },
                 1366:{
                     items:1
                 }
             }
         })

         /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         $('.home-two-product-carousel-active').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 4,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 2
                 },
                 950: {
                     items: 3
                 },
                 1000: {
                     items: 4
                 }
             }
         })

         /* ----------------------------------------------
            Home two sidebar product-carousel-active
         ---------------------------------------------- */
         $('.home-two-sidebar-product').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             dots: false,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1,
                 },
                 768: {
                     items: 2,
                 },
                 950: {
                     items: 3,
                 },
                 1000: {
                     items: 3,
                 }
             }
         })    
         /* ----------------------------------------------
             brand-carousel-active
         ---------------------------------------------- */
         $('.brand-carousel-active').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: true,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 8,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1,
                     center: true
                 },
                 768: {
                     items: 4
                 },
                 1000: {
                     items: 8
                 }
             }
         })    
         /* ----------------------------------------------
             brand-carousel-active
         ---------------------------------------------- */
         $('.four-brand-carousel-active').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: true,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 6,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1,
                     center: true
                 },
                 768: {
                     items: 3
                 },
                 1000: {
                     items: 6
                 }
             }
         })   
         /* ----------------------------------------------
             product dec slider qui active
         ---------------------------------------------- */
         $('.product-dec-slider-qui').owlCarousel({
             loop: true,
             nav: false,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 4,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1,
                     center: true
                 },
                 768: {
                     items: 3
                 },
                 1000: {
                     items: 4
                 }
             }
         })



        $('.product-dec-slider').slick({
             dots: true,
             vertical: true,
             slidesToShow: 4,
             slidesToScroll: 4,
             verticalSwiping: true,
             arrows: true,
             nextArrow: '<i class="fa fa-chevron-down"></i>',
             prevArrow: '<i class="fa fa-chevron-up"></i>',
           });


         
         /* ----------------------------------------------
             slider-carousel-active
         ---------------------------------------------- */
         $('.banner-call-to-action-carousel-active').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<img src='images/icons/arrow-left.png'>","<img src='images/icons/arrow-right.png'>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 1
                 },
                 1000: {
                     items: 1
                 }
             }
         })


         /* ----------------------------------------------
             slider-carousel-active
         ---------------------------------------------- */

         /* ********************************************
             5. Countdown
         ******************************************** */
         $('[data-countdown]').each(function() {
             var $this = $(this), finalDate = $(this).data('countdown');
             $this.countdown(finalDate, function(event) {
                 $this.html(event.strftime('<span class="cdown days"><span class="time-count">%-D</span><span>D : </span></span> <span class="cdown hour"><span class="time-count">%-H</span><span>H : </span></span> <span class="cdown minutes"><span class="time-count">%M</span><span>M : </span></span> <span class="cdown second"> <span><span class="time-count">%S</span><span>S</span></span>'));
             });
         }); 

         /* ----------------------------------------------
             product popup
         ---------------------------------------------- */
          $('.product-popup').magnificPopup({
               delegate: 'a', // child items selector, by clicking on it popup will open
               type: 'image'
               // other options
             });



         /*--------------------------
         tab active
         ---------------------------- */
         $('.product-details-small a').on('click', function(e) {
             e.preventDefault();
             
             var $href = $(this).attr('href');
             
             $('.product-details-small a').removeClass('active');
             $(this).addClass('active');
             
             $('.product-details-large .tab-pane').removeClass('active');
             $('.product-details-large ' + $href).addClass('active');
         })

         /* ----------------------------------------------
             Tooltip
         ---------------------------------------------- */
         $('[rel="tooltip"]').tooltip(); 



         /* ********************************************
             13. Cart Plus Minus Button
         ******************************************** */
         $(".cart-plus-minus").prepend('<div class="dec qtybutton">-</div>');
         $(".cart-plus-minus").append('<div class="inc qtybutton">+</div>');
         $(".qtybutton").on("click", function() {
             var $button = $(this);
             var oldValue = $button.parent().find("input").val();
             if ($button.text() == "+") {
                 var newVal = parseFloat(oldValue) + 1;
             } 
             else {
                 // Don't allow decrementing below zero
                 if (oldValue > 0) {
                     var newVal = parseFloat(oldValue) - 1;
                 } 
                 else {
                     newVal = 0;
                 }
             }
             $button.parent().find("input").val(newVal);
         });

         /*-- Price Range --*/
         $('#price-range').slider({
             range: true,
             min: 0,
             max: 700,
             values: [0, 700],
             slide: function(event, ui) {
                 $('.price-amount').val('$' + ui.values[0] + ' - $' + ui.values[1]);
             }
         });
         $('.price-amount').val('$' + $('#price-range').slider('values', 0) +
             ' - $' + $('#price-range').slider('values', 1));
         $('.product-filter-toggle').on('click', function() {
             $('.product-filter-wrapper').slideToggle();
         })

         /* ---------------------------
         11. FAQ Accordion Active
         * ---------------------------*/ 
           $('.panel-heading a').on('click', function() {
             $('.panel-default').removeClass('show');
             $(this).parents('.panel-default').addClass('show');
           });


         /* CounterUp Active */
         $('.counter').counterUp({
             delay: 10,
             time: 1000
         });


         /*--
             Isotop with ImagesLoaded
         -----------------------------------*/
         var isotopFilter = $('.isotop-filter');
         var isotopGrid = $('.isotop-grid');
         var isotopGridMasonry = $('.isotop-grid-masonry');
         var isotopGridItem = '.isotop-item';
         /*-- Images Loaded --*/
         isotopGrid.imagesLoaded(function () {
             /*-- Filter List --*/
             isotopFilter.on('click', 'button', function () {
                 isotopFilter.find('button').removeClass('active');
                 $(this).addClass('active');
                 var filterValue = $(this).attr('data-filter');
                 isotopGrid.isotope({ filter: filterValue });
             });
             /*-- Filter Grid Layout FitRows --*/
             isotopGrid.isotope({
                 itemSelector: isotopGridItem,
                 layoutMode: 'fitRows',
                 masonry: {
                     columnWidth: 1,
                 }
             });
             /*-- Filter Grid Layout Masonary --*/
             isotopGridMasonry.isotope({
                 itemSelector: isotopGridItem,
                 layoutMode: 'masonry',
                 masonry: {
                     columnWidth: 1,
                 }
             });
         });

         /*-- Image --*/
         var imagePopup = $('.image-popup');
         imagePopup.magnificPopup({
             type: 'image',
         });

         $('iframe[src*="youtube"]').parent().fitVids();

         /*--------------------------
          ScrollUp
         ---------------------------- */
         $.scrollUp({
             scrollText: '<i class="ion-arrow-up-c"></i>',
             easingType: 'linear',
             scrollSpeed: 900,
             animation: 'fade'
         });
      
      // -------------------------------------------------------------
         // nivoSlider
         // -------------------------------------------------------------
          $('#mainSlider').nivoSlider({
          manualAdvance: false,  
          directionNav: true,
          animSpeed: 500,
          slices: 18,
          pauseTime: 5000,
          pauseOnHover: false,
          controlNav: false,
          prevText: '<i class="fa fa-angle-left nivo-prev-icon"></i>',
          nextText: '<i class="fa fa-angle-right nivo-next-icon"></i>'
        });


    
        
  }

}


</script>



