<template>

<div>
	<!-- Breadcrumbs -->
	<div class="breadcrumbs-container">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <nav class="woocommerce-breadcrumb">
	                    <router-link to="/">Home</router-link>
	                    <span class="separator">/</span> Dashboard
	                </nav>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Breadcrumbs End -->
	<!-- Page title -->
	<div class="entry-header">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <h1 class="entry-title">My Account</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Page title end -->
	
	<!-- My Account page content Start -->
	<div id="myaccount-page-content">
	    <div class="container">
	        <div class="account-text-wrapper">
	            <div class="row">
	            <div class="col-md-3">
	                <div class="myaccount-tab-menu nav" role="tablist">
	                    <a href="#dashboad" class="active" data-toggle="tab"><i class="fa fa-dashboard"></i>
	                        Dashboard</a>

	                    <a href="#orders" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>

	                    <a href="#address-edit" data-toggle="tab"><i class="fa fa-map-marker"></i> address</a>

	                    <a href="#account-info" data-toggle="tab"><i class="fa fa-user"></i> Account Details</a>

	                    <a @click.prevent = "Logout_user()"><i class="fa fa-sign-out"></i> Logout</a>
	                </div>
	            </div>
	            <!-- My Account Tab Menu End -->

	            <!-- My Account Tab Content Start -->
	            <div class="col-md-9 mt-15 mt-lg-0">
	                <div class="tab-content" id="myaccountContent">
	                    <!-- Single Tab Content Start -->
	                    <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
	                        <div class="myaccount-content">
	                            <h3>Dashboard</h3>

	                            <div class="welcome">
	                                <p>Hello, <strong>{{ username }}</strong></p>
	                            </div>

	                            <p class="mb-0">From your account dashboard. you can easily check & view your
	                                recent orders, manage your shipping and billing addresses and edit your
	                                password and account details.</p>
	                        </div>
	                    </div>
	                    <!-- Single Tab Content End -->

	                    <!-- Single Tab Content Start -->
	                    <div class="tab-pane fade" id="orders" role="tabpanel">
	                        <div class="myaccount-content">
	                            <h3>Orders</h3>

	                            <div class="myaccount-table table-responsive text-center">
	                                <table class="table table-bordered">
	                                    <thead class="thead-light">
	                                    <tr>
	                                        <th>Order</th>
	                                        <th>Date</th>
	                                        <th>Status</th>
	                                        <th>Total</th>
	                                        <th>Action</th>
	                                    </tr>
	                                    </thead>

	                                    <tbody>
	                                    <tr>
	                                        <td>1</td>
	                                        <td>Aug 22, 2018</td>
	                                        <td>Pending</td>
	                                        <td>$3000</td>
	                                        <td><a href="cart.html" class="btn">View</a></td>
	                                    </tr>
	                                    <tr>
	                                        <td>2</td>
	                                        <td>July 22, 2018</td>
	                                        <td>Approved</td>
	                                        <td>$200</td>
	                                        <td><a href="cart.html" class="btn">View</a></td>
	                                    </tr>
	                                    <tr>
	                                        <td>3</td>
	                                        <td>June 12, 2017</td>
	                                        <td>On Hold</td>
	                                        <td>$990</td>
	                                        <td><a href="cart.html" class="btn">View</a></td>
	                                    </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- Single Tab Content End -->

	                    

	                    <!-- Single Tab Content Start -->
	                    <div class="tab-pane fade" id="address-edit" role="tabpanel">
	                        <div class="myaccount-content">
	                            <h3>Billing Address</h3>

	                            <address>
	                                <p><strong>Alex Tuntuni</strong></p>
	                                <p>1355 Market St, Suite 900 <br>
	                                    San Francisco, CA 94103</p>
	                                <p>Mobile: (123) 456-7890</p>
	                            </address>

	                            <a href="#" class="btn d-inline-block"><i class="fa fa-edit"></i> Edit
	                                Address</a>
	                        </div>
	                    </div>
	                    <!-- Single Tab Content End -->

	                    <!-- Single Tab Content Start -->
	                    <div class="tab-pane fade" id="account-info" role="tabpanel">
	                        <div class="myaccount-content">
	                            <h3>Account Details</h3>

	                            <div class="account-details-form checkout-form-list">
	                                <form action="#">
	                                    <div class="row">
	                                        <div class="col-lg-6">
	                                            <div class="single-input-item">
	                                                <label for="first-name" class="required">First Name</label>
	                                                <input type="text" id="first-name"
	                                                       placeholder="First Name"/>
	                                            </div>
	                                        </div>

	                                        <div class="col-lg-6">
	                                            <div class="single-input-item">
	                                                <label for="last-name" class="required">Last Name</label>
	                                                <input type="text" id="last-name" placeholder="Last Name"/>
	                                            </div>
	                                        </div>
	                                    </div>

	                                    <div class="single-input-item">
	                                        <label for="display-name" class="required">Display Name</label>
	                                        <input type="text" id="display-name" placeholder="Display Name"/>
	                                    </div>

	                                    <div class="single-input-item">
	                                        <label for="email" class="required">Email Addres</label>
	                                        <input type="email" id="email" placeholder="Email Address"/>
	                                    </div>

	                                    <fieldset>
	                                        <legend>Password change</legend>
	                                        <div class="single-input-item">
	                                            <label for="current-pwd" class="required">Current
	                                                Password</label>
	                                            <input type="password" id="current-pwd"
	                                                   placeholder="Current Password"/>
	                                        </div>

	                                        <div class="row">
	                                            <div class="col-lg-6">
	                                                <div class="single-input-item">
	                                                    <label for="new-pwd" class="required">New
	                                                        Password</label>
	                                                    <input type="password" id="new-pwd"
	                                                           placeholder="New Password"/>
	                                                </div>
	                                            </div>

	                                            <div class="col-lg-6">
	                                                <div class="single-input-item">
	                                                    <label for="confirm-pwd" class="required">Confirm
	                                                        Password</label>
	                                                    <input type="password" id="confirm-pwd"
	                                                           placeholder="Confirm Password"/>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </fieldset>

	                                    <div class="single-input-item">
	                                        <button class="btn">Save Changes</button>
	                                    </div>
	                                </form>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- Single Tab Content End -->
	                </div>
	            </div>
	            <!-- My Account Tab Content End -->
	        </div>
	        </div>
	    </div>
	</div>
	<!-- My Account page content end -->
</div>

</template>

<script>
	
	export default{

		data(){

			return {
				username:""
			}

		},

		computed:{

			is_loggedin(){

				var login = this.$store.getters.loggedIn;

				if( login == false ){
					this.$router.push('/login');
				}
			},

		},

		methods:{

			Logout_user(){

				this.$store.dispatch("action_remove_token");

				var login = this.$store.getters.loggedIn;

				if( login == false ){
					this.$router.push('/login');
				}

				console.log('logged out');
			},

		},

		mounted(){

			axios.get('/getuser').then((response)=>{
				console.log(response.data);
				this.username = response.data.user;
			})

		}

	}

</script>