<template>
	
	    <!-- header-search -->
	    <div class="header-search clearfix">
	        <div class="header-search-form">
	            
	           <router-link to ="/searchresults"> <input type="text" name="search" v-model="keyword" @keyup = "realTimeSearch" placeholder="Search product..."></router-link>
	                                           
	        </div>
	    </div>
	
</template>

<script>

	import _ from 'lodash';
	
	export default{

		data(){

			return{
				keyword:"",
			}

		},

		methods:{

			realTimeSearch:_.debounce(function(){
			     this.$store.dispatch("searchPosts",this.keyword);//hit the action with form data
			     this.$store.dispatch("setKeyword",this.keyword);//hit the action with form data
			     //console.log('in method ' + this.$store.getters.get_keyword);
			},1000)

		},

		

	}

</script>