<template>

<div>

    <!-- Breadcrumbs -->
    <div class="breadcrumbs-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="woocommerce-breadcrumb">
                        <router-link to="/">Home</router-link>
                        <span class="separator">/</span> Shop
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->
    
    <!-- Shop page wraper -->
    <div class="shop-page-wraper">
        <div class="container">
            <div class="row">



                <div class="col-xs-12 col-md-3 sidebar-shop">
                <div class="sidebar-product-categori">
                         
                <div class="categori-menu">

                  <span class="categorie-title">Categories</span>
                  <nav>
                      <ul class="categori-menu-list" v-if="Categories">                                                      
                          <li v-for="category in Categories">
                            <router-link :to="`/categories/${category.id}`">
                                {{ category.name }}<i class="fa fa-angle-right" aria-hidden="true"></i>
                            </router-link>
                          </li>                                              
                      </ul>

                      <ul class="categori-menu-list"  v-else>
                          <li>
                            No Category
                          </li>                         
                      </ul>
                  </nav>
                      
                </div>



                  <div class="product-filter mb-30" style="height:500px">
                     
                  </div>

                        <div class="product-filter mb-30">
                            <div class="widget-title">
                                <h3>Filter by price</h3>
                            </div>
                            <div class="widget-content">
                                <div id="price-range"></div>
                                <div class="price-values">
                                    <div class="price_text_btn">
                                        <span>Price:</span>

                                        <span style="display:inline-block">
                                            <input type="text" class="price-amount1">
                                            <input type="text" class="price-amount2">
                                        </span>

                                    </div>
                                    <button class="button" @click = "getdata()" type="submit">Filter</button>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="sidebar-single-banner">
                            <a href="#">
                                <img src="users/images/banner/shop-sidebar.jpg" alt="Banner">
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xs-12 col-md-9 shop-content">
                    
                    <div class="product-toolbar">
                        <div class="topbar-title">
                            <h1>Shop</h1>
                        </div>
                        <div class="product-toolbar-inner">
                            <div class="product-view-mode">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#grid"><i class="ion-grid"></i></a></li>
                                    <li><a data-toggle="tab" href="#list"><i class="ion-navicon"></i></a></li>
                                </ul>
                            </div>
                            <div class="woocommerce-ordering">
                                <form class="woocommerce-ordering hidden-xs">
                                    
                                    <div class="orderby-wrapper">
                                        <label>Sort By Price:</label>
                                        <button @click.prevent="low_to_high()">low to high </button>
                                        <button @click.prevent="high_to_low()">high to low </button>
                                       <!-- <select class="nice-select-menu orderby">
                                           <option >default sort</option>
                                           <option value="price-asc">Sort by price: low to high</option>
                                           <option value="price-desc">Sort by price: high to low</option>
                                       </select> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="shop-page-product-area tab-content">
                            <div id="grid" class="tab-pane fade in show active">
                                <div class="row" v-if="allProducts">


                                    <div class="col-sm-6 col-md-4 col-xl-3" v-for="product in allProducts">
                                        <div class="single-product-area">
                                            <div class="product-wrapper gridview">
                                                <div class="list-col4">
                                                    <div class="product-image">
                                                        <a href="#">
                                                            <img :src="`http://${hostName}/users/images/product/1.jpg`" alt="">
                                                        </a>
                                                        <div class="quickviewbtn">
                                                        <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View" 
                                                        @click.prevent = "modaldata(product.name,product.price,product.description,product.id)" >
                                                            <i class="ion-eye"></i>
                                                        </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-col8">
                                                    <div class="product-info">
                                                        <h2><a href="single-product.html">{{product.name}}</a></h2>
                                                        <span class="price">
                                                             ৳ {{product.price}}
                                                        </span>
                                                    </div>
                                                    <div class="product-hidden">
                                                        <div class="add-to-cart">
                                                            <a @click.prevent = "addToCart(product.id,product.name,product.price)">Add to cart</a>
                                                        </div>
                                                        <div class="star-actions">
                                                            <div class="product-rattings">
                                                                <span><i class="fa fa-star"></i></span>
                                                                <span><i class="fa fa-star"></i></span>
                                                                <span><i class="fa fa-star"></i></span>
                                                                <span><i class="fa fa-star-half-o"></i></span>
                                                                <span><i class="fa fa-star-o"></i></span>
                                                            </div>
                                                            <ul class="actions">
                                                                <li><a href="#"><i class="ion-android-favorite-outline"></i></a></li>
                                                                <li><a href="#"><i class="ion-ios-shuffle-strong"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div id="list" class="tab-pane fade">
                                <div class="row" v-if="allProducts">

                                    <div class="col-sm-12" v-for="product in allProducts">
                                        <div class="single-product-area">
                                            <div class="product-wrapper listview">
                                                <div class="list-col4">
                                                    <div class="product-image">
                                                        <a href="#">
                                                            <span class="onsale">Sale!</span>
                                                            <img :src="`http://${hostName}/users/images/product/1.jpg`" alt="">
                                                        </a>
                                                        <div class="quickviewbtn">

                                                            <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"
                                                             @click.prevent = "modaldata(product.name,product.price,product.description,product.id)" >
                                                            <i class="ion-eye"></i></a>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-col8">
                                                    <div class="product-info">
                                                        <h2><a href="single-product.html">{{product.name}}</a></h2>
                                                        <span class="price">
                                                            $ {{product.price}}
                                                        </span>
                                                        <div class="product-rattings">
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star-half-o"></i></span>
                                                            <span><i class="fa fa-star-o"></i></span>
                                                        </div>
                                                        <div class="product-desc">
                                                            <p>{{product.details}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="actions-wrapper">
                                                        <div class="add-to-cart">
                                                            <a @click.prevent = "addToCart(product.id,product.name,product.price)">Add to cart</a>
                                                        </div>
                                                        <div class="star-actions">
                                                            <ul class="actions">
                                                                <li><a href="#"><i class="ion-android-favorite-outline"></i>Add to Wishlist</a></li>
                                                                <li><a href="#"><i class="ion-ios-shuffle-strong"></i>Compare</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!-- Shop page wraper end -->

    <!-- QUICKVIEW PRODUCT START -->
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="product_modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-close-btn">
                        <button class="close" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                       <!-- Single product area -->
                       <div class="single-product-area">
                           <div class="container-fullwidth">
                               <div class="single-product-wrapper">
                                   <div class="row">
                                       <div class="col-xs-12 col-md-7 col-lg-7">
                                            <div class="product-details-img-content">
                                                <div class="product-details-tab mr-40">
                                                    <div class="product-details-large tab-content">
                                                        <div class="tab-pane active" id="pro-details1">
                                                            <div class="product-pop">
                                                                <a href="#">
                                                                    <img src="users/images/product/single/product4.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="pro-details2">
                                                            <div class="product-pop">
                                                                <a href="#">
                                                                    <img src="users/images/product/single/product5.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="pro-details3">
                                                            <div class="product-pop">
                                                                <a href="#">
                                                                    <img src="users/images/product/single/product6.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="pro-details4">
                                                            <div class="product-pop">
                                                                <a href="#">
                                                                    <img src="users/images/product/single/product7.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="pro-details5">
                                                            <div class="product-pop">
                                                                <a href="#">
                                                                    <img src="users/images/product/single/product8.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-details-small nav product-dec-slider-qui owl-carousel">
                                                        <a class="active" href="#pro-details1">
                                                            <img src="users/images/product/thumbnails/product4.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details2">
                                                            <img src="users/images/product/thumbnails/product5.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details3">
                                                            <img src="users/images/product/thumbnails/product6.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details4">
                                                            <img src="users/images/product/thumbnails/product7.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details5">
                                                            <img src="users/images/product/thumbnails/product8.jpg" alt="">
                                                        </a>
                                                        <a class="active" href="#pro-details1">
                                                            <img src="users/images/product/thumbnails/product4.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details2">
                                                            <img src="users/images/product/thumbnails/product5.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details3">
                                                            <img src="users/images/product/thumbnails/product6.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details4">
                                                            <img src="users/images/product/thumbnails/product7.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details5">
                                                            <img src="users/images/product/thumbnails/product8.jpg" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                       </div>
                                       <div class="col-xs-12 col-md-5 col-lg-5">
                                           <div class="single-product-info">
                                               <h1 id="single-product-name">product name</h1>
                                               <div class="product-rattings">
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star-half-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <span class="price" id="single-product-price">
                                                     product price
                                                </span>
                                                <p id="single-product-description">product description</p>
                                                <div class="box-quantity d-flex">
                                                    <form action="#">
                                                        <input class="quantity-modal mr-40" min="1" value="1" name="myId" id="myId" ref="myId`">
                                                    </form>
                                                    <a class="add-cart" @click.prevent="modal_add_to_cart()">add to cart</a>
                                                </div>
                                                                                                                                           
                                          </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                        <!-- Single product area end -->
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div><!-- END Modal -->
    </div>
    <!-- QUICKVIEW PRODUCT END -->
            


</div>

</template>

<script>

export default{

 data(){

    return{

        id:"",
        hostName:"",
        modal_id:"",
        modal_name:"",
        modal_price:"",
        modal_description:"",
              
    };

 },

  methods:{

    modal_add_to_cart(){

        
        //get input quantity
        var modal_value = $('.quantity-modal').val();
        
        console.log(modal_value);

        var info = {name: this.modal_name,id:this.modal_id,price:this.modal_price,quantity:modal_value};
        console.log(info);

        let self=this;
        
        axios.post('/add-to-cart-qty-modal', info)
        .then(function (response) {
            self.$router.push('/cart');
            console.log(response.data);
            console.log('success');

            $('#product_modal').modal('hide');

            //make input quantity 1 again
            $('.quantity-modal').val(1);

        })

    },

    modaldata(name,price,description,id){

        this.modal_name        = name;
        this.modal_price       = price;
        this.modal_description = description;
        this.modal_id          = id;


        //var name =  name;
        //$(this).find(".single-product-info #single-product-name").val(name);
        $('#product_modal').on('show.bs.modal', function (event) {
          
              //var button    = $(event.relatedTarget) 
              //var test      = button.data('testname')
                           
              var modal = $(this)
              modal.find('#single-product-name').text(name);
              modal.find('#single-product-price').text('৳ '+price);
              modal.find('#single-product-description').text(description);

              var valueinp = $('.quantity-modal').val();
        });
             

        //console.log(name+' '+price+' '+description);
    },

    getdata(){

     
        var a = $('.price-amount1').val();
        var b = $('.price-amount2').val();
        var c = a.substring(1);
        var d = b.substring(1);

        var e = parseInt(c);
        var f = parseInt(d);
        console.log( e+4 );
        console.log( f+4 )

        if( this.$route.params.id ){
            this.$store.dispatch("action_price_slider",{id:this.$route.params.id,min:e,max:f});
        }else{
            this.$store.dispatch("action_price_slider",{id:-1,min:e,max:f});
        }

            
    },

   

    low_to_high(){

        if( this.$route.params.id ){
            this.$store.dispatch("action_low_to_high",this.$route.params.id);
        }else{
            this.$store.dispatch("action_low_to_high",-1);
        }

    },

    high_to_low(){
        if( this.$route.params.id ){
            this.$store.dispatch("action_high_to_low",this.$route.params.id);
        }else{
            this.$store.dispatch("action_high_to_low",-1);
        }
    },

    addToCart(id,name,price){

      var info = {name: name,id:id,price:price};
      console.log(info);

      let self=this;
      
      axios.post('/add-to-cart', info)
      .then(function (response) {
          self.$router.push('/cart');
          console.log(response.data);
          console.log('success');
         

      })

    },

     all_category_products(){
        if( this.$route.params.id != null ){
            this.$store.dispatch("action_all_category_products",this.$route.params.id);
        }else{
           this.$store.dispatch("action_shop_products_all"); 
        }
    },

  },
  computed:{
    
    Categories(){

      return this.$store.getters.get_all_categories;

    },

    allProducts(){
        return this.$store.getters.get_shop_products_all;
    },

   

  },

  watch:{

    $route(to,from){
        this.all_category_products();
    }

  },

  mounted(){

    //this.$store.dispatch("setKeyword","-1");


    this.hostName = location.host;
    var vm = this;

    if( this.$route.params.id != null ){
        this.$store.dispatch("action_all_category_products",this.$route.params.id);
    }else{
        this.$store.dispatch("action_shop_products_all");
    }

    this.$store.dispatch("action_all_categories");
    

     /* Theme JS */

     
         "use strict";

         var a;
         var b;
         var segments;
         /*-- Price Range --*/
         $('#price-range').slider({
             range: true,
             min: 0,
             max: 5000,
             values: [0, 5000],
             slide: function(event, ui) {
                 $('.price-amount1').val('$'+ui.values[0]);
                 $('.price-amount2').val('$'+ui.values[1]);

                 a = ui.values[0];
                 b = ui.values[1];
                 var url= window.location.pathname;
                 segments = url.split('/');

                 //this.$store.datam;
                 
                 //console.log(segments[3]);
             }
         });


         $('.price-amount1').val('$' + $('#price-range').slider('values', 0));

         $('.price-amount2').val('$' + $('#price-range').slider('values', 1));

         $('.product-filter-toggle').on('click', function() {
             $('.product-filter-wrapper').slideToggle();
         })


       /* ----------------------------------------------
             jQuery MeanMenu
         ---------------------------------------------- */
         $('#mobile-menu-active').meanmenu({
             meanScreenWidth: "991",
             meanMenuContainer: ".mobile-menu-area .mobile-menu",
         });

         /* ----------------------------------------------
             nice-select-menu
         ---------------------------------------------- */
         $('.nice-select-menu').niceSelect();
      /*----------------------------
         4.1 Vertical-Menu Activation
         -----------------------------*/
         $('.categorie-title').on('click', function () {
             $('.categori-menu-list').slideToggle();
         });

         /* ----------------------------------------------
             gallery-post active
         ---------------------------------------------- */
         $('.gallery-post').owlCarousel({
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             loop: true,
             dots: false,
             nav: false,
             navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
             item: 1,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 1
                 },
                 1000: {
                     items: 1
                 }
             }
         })

         
         /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         $('.product-carousel-active').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 2,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 1
                 },
                 992: {
                     items: 1
                 },
                 1170: {
                     items: 1
                 },
                 1366: {
                     items: 2
                 }
             }
         })
         /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         $('.product-carousel-active-home-four').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 1
                 },
                 992: {
                     items: 1
                 },
                 1000: {
                     items: 1
                 }
             }
         })
         
         /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         $('.home-three-product-carousel').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 1
                 },
                 992: {
                     items: 1
                 },
                 1000: {
                     items: 3
                 },
                 1600: {
                     items: 1
                 }
             }
         })

         
         /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         $('.product-carousel-active-2').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 5,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 3
                 },
                 992: {
                     items: 3
                 },
                 1000: {
                     items: 4
                 },
                 1366: {
                     items: 5
                 }
             }
         })
         /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         $('.product-carousel-active-h2').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 5,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 3
                 },
                 992: {
                     items: 3
                 },
                 1000: {
                     items: 4
                 },
                 1366: {
                     items: 4
                 },
                 1600: {
                     items: 5
                 }
             }
         })
         /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         $('.product-carousel-active-3').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 6,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 3
                 },
                 950: {
                     items: 3
                 },
                 1000: {
                     items: 4
                 },
                 1366: {
                     items: 5
                 },
                 1600: {
                     items: 5
                 }
             }
         })

             /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         $('.product-carousel-active-4').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsiveClass:true,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:2
                 },
                 1000:{
                     items:2
                 }
             }
         })
     /* ----------------------------------------------
             best seller carousel active
         ---------------------------------------------- */
         $('.bestseller-sidebar').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:1
                 },
                 768:{
                     items:2
                 },
                 992:{
                     items:3
                 },
                 1000:{
                     items:3
                 },
                 1170:{
                     items:3
                 },
                 1366:{
                     items:1
                 }
             }
         })
         /* ----------------------------------------------
             best seller carousel active
         ---------------------------------------------- */
         $('.newarival-sidebar').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsiveClass:true,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:2
                 },
                 992:{
                     items:3
                 },
                 1000:{
                     items:3
                 },
                 1170:{
                     items:3
                 },
                 1366:{
                     items:1
                 }
             }
         })
         /* ----------------------------------------------
             testimonial carousel active
         ---------------------------------------------- */
         $('.testimonial-sidebar').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsiveClass:true,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:1
                 },
                 1000:{
                     items:1
                 }
             }
         })
         /* ----------------------------------------------
             mini product carousel active
         ---------------------------------------------- */
         $('.mini-product').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsiveClass:true,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:1
                 },
                 992:{
                     items:1
                 },
                 1000:{
                     items:1
                 },
                 1170:{
                     items:1
                 }
             }
         })
         /* ----------------------------------------------
             mini product carousel active
         ---------------------------------------------- */
         $('.mini-product-2').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsiveClass:true,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:1
                 },
                 768:{
                     items:2
                 },
                 992:{
                     items:3
                 },
                 1000:{
                     items:3
                 },
                 1170:{
                     items:3
                 },
                 1366:{
                     items:1
                 }
             }
         })

         /* ----------------------------------------------
             product-carousel-active
         ---------------------------------------------- */
         $('.home-two-product-carousel-active').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 4,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 2
                 },
                 950: {
                     items: 3
                 },
                 1000: {
                     items: 4
                 }
             }
         })

         /* ----------------------------------------------
            Home two sidebar product-carousel-active
         ---------------------------------------------- */
         $('.home-two-sidebar-product').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             dots: false,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1,
                 },
                 768: {
                     items: 2,
                 },
                 950: {
                     items: 3,
                 },
                 1000: {
                     items: 3,
                 }
             }
         })    
         /* ----------------------------------------------
             brand-carousel-active
         ---------------------------------------------- */
         $('.brand-carousel-active').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: true,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 8,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1,
                     center: true
                 },
                 768: {
                     items: 4
                 },
                 1000: {
                     items: 8
                 }
             }
         })    
         /* ----------------------------------------------
             brand-carousel-active
         ---------------------------------------------- */
         $('.four-brand-carousel-active').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: true,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 6,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1,
                     center: true
                 },
                 768: {
                     items: 3
                 },
                 1000: {
                     items: 6
                 }
             }
         })   
         /* ----------------------------------------------
             product dec slider qui active
         ---------------------------------------------- */
         $('.product-dec-slider-qui').owlCarousel({
             loop: true,
             nav: false,
             navText: ["<i class='ion-ios-arrow-left'></i>","<i class='ion-ios-arrow-right'></i>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 4,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1,
                     center: true
                 },
                 768: {
                     items: 3
                 },
                 1000: {
                     items: 4
                 }
             }
         })



        $('.product-dec-slider').slick({
             dots: true,
             vertical: true,
             slidesToShow: 4,
             slidesToScroll: 4,
             verticalSwiping: true,
             arrows: true,
             nextArrow: '<i class="fa fa-chevron-down"></i>',
             prevArrow: '<i class="fa fa-chevron-up"></i>',
           });


         
         /* ----------------------------------------------
             slider-carousel-active
         ---------------------------------------------- */
         $('.banner-call-to-action-carousel-active').owlCarousel({
             loop: true,
             nav: true,
             navText: ["<img src='images/icons/arrow-left.png'>","<img src='images/icons/arrow-right.png'>"],
             autoplay: false,
             autoplayTimeout: 5000,
             animateOut: 'fadeOut',
             animateIn: 'fadeIn',
             item: 1,
             responsiveClass:true,
             responsive: {
                 0: {
                     items: 1
                 },
                 768: {
                     items: 1
                 },
                 1000: {
                     items: 1
                 }
             }
         })


         /* ----------------------------------------------
             slider-carousel-active
         ---------------------------------------------- */

         /* ********************************************
             5. Countdown
         ******************************************** */
         $('[data-countdown]').each(function() {
             var $this = $(this), finalDate = $(this).data('countdown');
             $this.countdown(finalDate, function(event) {
                 $this.html(event.strftime('<span class="cdown days"><span class="time-count">%-D</span><span>D : </span></span> <span class="cdown hour"><span class="time-count">%-H</span><span>H : </span></span> <span class="cdown minutes"><span class="time-count">%M</span><span>M : </span></span> <span class="cdown second"> <span><span class="time-count">%S</span><span>S</span></span>'));
             });
         }); 

         /* ----------------------------------------------
             product popup
         ---------------------------------------------- */
          $('.product-popup').magnificPopup({
               delegate: 'a', // child items selector, by clicking on it popup will open
               type: 'image'
               // other options
             });



         /*--------------------------
         tab active
         ---------------------------- */
         $('.product-details-small a').on('click', function(e) {
             e.preventDefault();
             
             var $href = $(this).attr('href');
             
             $('.product-details-small a').removeClass('active');
             $(this).addClass('active');
             
             $('.product-details-large .tab-pane').removeClass('active');
             $('.product-details-large ' + $href).addClass('active');
         })

         /* ----------------------------------------------
             Tooltip
         ---------------------------------------------- */
         $('[rel="tooltip"]').tooltip(); 



         /* ********************************************
             13. Cart Plus Minus Button
         ******************************************** */
         $(".cart-plus-minus").prepend('<div class="dec qtybutton">-</div>');
         $(".cart-plus-minus").append('<div class="inc qtybutton">+</div>');
         $(".qtybutton").on("click", function() {
             var $button = $(this);
             var oldValue = $button.parent().find("input").val();
             if ($button.text() == "+") {
                 var newVal = parseFloat(oldValue) + 1;
             } 
             else {
                 // Don't allow decrementing below zero
                 if (oldValue > 0) {
                     var newVal = parseFloat(oldValue) - 1;
                 } 
                 else {
                     newVal = 0;
                 }
             }
             $button.parent().find("input").val(newVal);
         });



         /* ---------------------------
         11. FAQ Accordion Active
         * ---------------------------*/ 
           $('.panel-heading a').on('click', function() {
             $('.panel-default').removeClass('show');
             $(this).parents('.panel-default').addClass('show');
           });


         /* CounterUp Active */
         $('.counter').counterUp({
             delay: 10,
             time: 1000
         });


         /*--
             Isotop with ImagesLoaded
         -----------------------------------*/
         var isotopFilter = $('.isotop-filter');
         var isotopGrid = $('.isotop-grid');
         var isotopGridMasonry = $('.isotop-grid-masonry');
         var isotopGridItem = '.isotop-item';
         /*-- Images Loaded --*/
         isotopGrid.imagesLoaded(function () {
             /*-- Filter List --*/
             isotopFilter.on('click', 'button', function () {
                 isotopFilter.find('button').removeClass('active');
                 $(this).addClass('active');
                 var filterValue = $(this).attr('data-filter');
                 isotopGrid.isotope({ filter: filterValue });
             });
             /*-- Filter Grid Layout FitRows --*/
             isotopGrid.isotope({
                 itemSelector: isotopGridItem,
                 layoutMode: 'fitRows',
                 masonry: {
                     columnWidth: 1,
                 }
             });
             /*-- Filter Grid Layout Masonary --*/
             isotopGridMasonry.isotope({
                 itemSelector: isotopGridItem,
                 layoutMode: 'masonry',
                 masonry: {
                     columnWidth: 1,
                 }
             });
         });

         /*-- Image --*/
         var imagePopup = $('.image-popup');
         imagePopup.magnificPopup({
             type: 'image',
         });

         $('iframe[src*="youtube"]').parent().fitVids();

         /*--------------------------
          ScrollUp
         ---------------------------- */
         $.scrollUp({
             scrollText: '<i class="ion-arrow-up-c"></i>',
             easingType: 'linear',
             scrollSpeed: 900,
             animation: 'fade'
         });
      
      // -------------------------------------------------------------
         // nivoSlider
         // -------------------------------------------------------------
          $('#mainSlider').nivoSlider({
          manualAdvance: false,  
          directionNav: true,
          animSpeed: 500,
          slices: 18,
          pauseTime: 5000,
          pauseOnHover: false,
          controlNav: false,
          prevText: '<i class="fa fa-angle-left nivo-prev-icon"></i>',
          nextText: '<i class="fa fa-angle-right nivo-next-icon"></i>'
        });


    
        
  }

}

</script>